.app {
    height: 100vh;
}
.header {
    height: 10vh;
    background-color: var(--text-color);
    display: flex;
    align-items: center;
}
.header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__navbar-input {
    border-radius: 1.2rem;
    min-height: 30px;
    width: 220px;
    height: 30px;
    color: var(--white-color);
    background-color: var(--text-color);
}
.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin-top: 4px;
}
.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26;
}
.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}
.header__navbar-item:hover,
.header__navbar-item-link:hover {
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
.header__navbar-item,
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
}
.header__navbar-item--bold {
    font-weight: 500;
}
.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}
.header__navbar-icon {
    font-size: 2rem;
    margin: 0 8px;
}
.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}
.header__navbar-item-modal {
    background-color: var(--white-color);
    width: 200px;
    height: 200px;
    position: absolute;
    right: 0;
    top: 118%;
    border-radius: 12px;
    padding: 8px;
    display: none;
}
.header__navbar-item-modal::before {
    position: absolute;
    width: 100%;
    height: 18%;
    content: "";
    display: block;
    right: 0;
    top: -16px;
}
.header__navbar-item-modal-active:hover .header__navbar-item-modal {
    display: block;
}
.header__navbar-item-modal-item-list {
    color: var(--text-color);
}
/*Content*/
.container {
    border-top: 1px solid white;
    width: 100%;
    display: flex;
    height: 80vh;
}
.content__user-list {
    border-right: 1px solid white;
}
.content__user-header-list {
    align-items: center;
    padding-left: 14px;
    display: flex;
    justify-content: space-between;
}
.content__user-header-list .content__user-header-item {
    list-style: none;
}
.content__user-header-title {
    color: var(--white-color);
    font-size: 2rem;
}
.content__user-list {
    height: 90vh;
    width: 30%;
    background-color: #333;
}
.content__user-item {
    padding-left: 14px;
    display: flex;
}
.content__user-item-right {
    padding-left: 14px;
}
.content__user-item-right-title {
    color: var(--white-color);
}
.content__user-item-img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
}
.chat-message {
    height: 90vh;
    width: 70%;
    background-color: var(--white-color);
    overflow-y: scroll;
    position: relative;
}
.footer__chat-message {
    background-color: var(--white-color);
    height: 8vh;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 70%;
    border-radius: 12px;
    text-align: center;
}
.btn-send {
    position: absolute;
    bottom: 20px;
    right: 12px;
    font-size: 2rem;
}
.message {
    width: 100%;
}
.text {
    color: var(--text-color);
    background-color: cadetblue;
    border-radius: 12px;
    font-size: 1.6rem;
    display: inline-block;
    height: 26px;
    padding: 4px 16px;
    margin: 8px;
}
.chat-messages .message {
    display: flex;
    flex-wrap: wrap;
}
