<form method="POST" action="/card/add_to_cart">

    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">UserId</label>
        <input type="text" class="form-control" id="exampleInputPassword1" name="userId">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Quantity</label>
        <input type="text" class="form-control" id="exampleInputPassword1" name="quantity">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Price</label>
        <input type="text" class="form-control" id="exampleInputPassword1" name="price">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">ProductId</label>
        <input type="text" class="form-control" id="exampleInputPassword1" name="productId">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>