<form method="POST" action="/auth/changePassword">

    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Old password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="oldPassword">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">New Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="newPassword">
    </div> 
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">ReNew Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="reNewPassword">
    </div> 
     <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Token</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="token">
    </div> 
    <button type="submit" class="btn btn-primary">Submit</button>
</form>