<div class="content__user-list">
    <header class="content__user-header">
        <ul class="content__user-header-list">
            <li class="content__user-header-item">
                <p class="content__user-header-title">Chat</p>
            </li>
            <li class="content__user-header-item">
                <a class="header__navbar-item-link">
                    <i class="header__navbar-icon fas fa-bell"></i>
                </a>
            </li>
        </ul>
    </header>
    <div>
        <div class="content__user-item">
            <div>
                <img src="image/me.jpg" class="content__user-item-img" />
            </div>
            <div class="content__user-item-right">
                <p class="content__user-item-right-title">Account</p>
                <p class="content__user-item-right-title">Account</p>
            </div>
        </div>
    </div>
</div>
<div class="content__user-message">
    dfs
</div>