<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/login.css" />
</head>

<body>
    <div class="containers">
        <form action="home" class="form">
            <h2>Sign in</h2>
            <input type="email" name="email" class="box" placeholder="Enter your email" />
            <input type="password" name="password" class="box" placeholder="Enter your password" />
            <input type="submit" value="Sign in" id="submit" />
        </form>
        <div class="side">
            <img src="image/banner.jpeg" />
        </div>
    </div>
</body>

</html>