<form method="POST" action="/auth/register">

    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Email</label>
        <input type="email" class="form-control" id="exampleInputPassword1" name="email">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="text" class="form-control" id="exampleInputPassword1" name="password">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Username</label>
        <input type="text" class="form-control" id="exampleInputPassword1" name="username">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Gender</label>
        <input type="text" class="form-control" id="exampleInputPassword1" name="gender">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">PhoneNubmer</label>
        <input type="text" class="form-control" id="exampleInputPassword1" name="phonenumber">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">birthDay</label>
        <input type="text" class="form-control" id="exampleInputPassword1" name="birthday">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>