{{!-- <header class="header">
    <div class="gird">
        <nav class="header__navbar">
            <ul class="header__navbar-list">
                <li class="header__navbar-item">
                    <a href="" class="header__navbar-icon-link">
                        <i class=" header__navbar-icon fas fa-sms">
                        </i>
                    </a>
                </li>
                <li class="header__navbar-item">
                    <input type="text" placeholder="Tìm kiếm trên Mechat" class="header__navbar-input" />
                </li>

            </ul>
            <ul class="header__navbar-list">
                <li class="header__navbar-item">
                    <a>
                        <i class=" header__navbar-icon fas fa-home"></i>
                    </a>
                </li>
                <li class="header__navbar-item">
                    <a>
                        <i class=" header__navbar-icon fas fa-user-friends"></i>
                    </a>
                </li>
                <li class="header__navbar-item">
                    <a>
                        <i class=" header__navbar-icon fas fa-tv"></i>
                    </a>
                </li>
            </ul>
            <ul class="header__navbar-list">
                <li class="header__navbar-item">
                    <a class="header__navbar-item-link">
                        <i class="header__navbar-icon fas fa-bell"></i>
                    </a>
                </li>

                <li class="header__navbar-item header__navbar-item--bold header__navbar-item-modal-active">
                    <i class=" header__navbar-icon fas fa-user"></i>
                    <div class="header__navbar-item-modal">
                        <ul class="header__navbar-item-modal-item-list">
                            <li>Profile</li>
                            <li>Setting</li>
                            <li>Logout</li>
                            <li>BlaBla</li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</header> --}}